* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #727272;
  font-size: 1rem;
}
a:hover {
  color: orange;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  font-size: 5rem;
  display: flex;
  gap: 6rem;
}
.links a {
  font-size: x-large;
  color: #727272;
}
.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: #727272;
  color: #fff;
  /* padding: 0.5rem 1rem; */
  border: none;
  outline: none;
  /* border-radius: 20px; */
  /* font-size: 0.8rem; */
  /* font-weight: bold; */
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn:hover {
  scale: 1.05;
  color: #fff;
}
.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 150px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15) px;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
